// colors
$color-neutral: hsl(205, 20, 60);
$color-important: hsl(205, 80, 60);
$color-disabled: hsl(0, 0, 90);

// transitions
$transition-normal: all ease-out 0.2s;

.neutral {
	background: $color-neutral;
	color: white;
	border-radius: 4px;
	padding: 4px 16px;
	margin: 2px 0;

	transition: $transition-normal;

	&:hover {
		filter: brightness(1.1);
	}
}

.important {
	background: $color-important;
	color: white;
	border-radius: 4px;
	padding: 4px 16px;
	margin: 2px 0;

	transition: $transition-normal;

	&:hover {
		filter: brightness(1.1);
	}
}

.disabled {
	background: $color-disabled;
	color: grey;
	border-radius: 4px;
	padding: 4px 16px;
	margin: 2px 0;

	transition: $transition-normal;
}
