// colors
$color-neutral: hsl(205, 20, 60);
$color-important: hsl(205, 80, 60);
$color-important-focused: rgb(29, 151, 238);
$color-disabled: hsl(0, 0, 90);
$color-text: rgb(66, 66, 66);
$color-border: rgb(139, 139, 139);

// transitions
$transition-normal: all ease-out 0.2s;

.neutral {
	background: $color-neutral;
	color: white;
	border-radius: 4px;
	padding: 4px 16px;
	cursor: pointer;

	transition: $transition-normal;

	&:hover {
		filter: brightness(1.1);
	}
}

.important {
	background: $color-important;
	color: white;
	border-radius: 4px;
	padding: 4px 16px;

	transition: $transition-normal;

	&:hover {
		filter: brightness(1.1);
	}
}

.disabled {
	background: $color-disabled;
	color: grey;
	border-radius: 4px;
	padding: 4px 16px;

	transition: $transition-normal;
}

.small {
	font-size: 10px;
}

.fullWidth {
	width: 100%;
}

.form {
	font-weight: 400;
	font-size: 0.6rem;
	text-transform: uppercase;
	color: $color-text;
	border: 1px solid $color-border;
	padding: 7px 8px;
	border-radius: 3px;
	min-width: 46%;
	background-color: rgba(255, 255, 255, 0.0);
	cursor: pointer;
	outline: none;

	&:hover:not(.primary) {
		background-color: rgba(0, 0, 0, 0.1);
	}
	
	&:focus:not(.primary) {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.primary {
	color: white;
	background-color: $color-important;
	border-style: none;
	padding: 8px 8px;

	&:hover {
		filter: brightness(1.1);
	}

	&:focus {
		background-color: $color-important-focused;
	}
}