@value color-text-primary from "/public/styles/colors.scss";

.container {
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	align-items: center;
	padding: 8px 20px 0;
	flex-shrink: 0;
	font-weight: 300;
  font-size: 1rem;
  color: color-text-primary;
}