@value color-text-primary from "/public/styles/colors.scss";

.container {
	flex-direction: column;
	flex: 1 1 auto;
}

.header {
	composes: h3 from "/public/styles/headers.scss";
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
}