@value md, lg from "/public/styles/breakpoints.scss";
@value background-default from "/public/styles/colors.scss";
@value border-radius-medium from "/public/styles/borderRadius.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 5 0 0;
}

.form {
  border-radius: border-radius-medium;
  flex: 1 0 0;
  padding: 5px;

  overflow: auto;
  display: flex;
  flex-direction: column;

  .projectField {
    display: flex;
    justify-content: space-between;
  
    > *:not(:last-child) {
      flex: 6 1 0;
      margin-right: 26px;
    }
  
    > *:last-child {
      flex: 1 0 0;
    }
  }

  .textArea {
    flex: 1 0 0;
  }
}

.buttonContainer {
  flex: 0 0 0;
  padding: 0px 5px 5px 5px;
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    min-width: 125px;
  }
  
  .buttonMargin {
    margin-left: auto;
    margin-right: 20px;
  }
}

.spacing {
  margin-top: 26px;
}

.noTitleSpacing {
  margin-top: 5px;
}

@media screen and (min-width: md) {
	.form {
    background: background-default;
    margin: 5px;
    padding: 25px;
    box-shadow: 0px 1px 3px 1px rgba(35, 35, 35, 0.1);
  }
}

@media screen and (min-width: lg) {
	.form {
    margin: 5px;
    padding: 25px;
    box-shadow: 0px 1px 3px 1px rgba(35, 35, 35, 0.1);
  }
}