@value background-chat from "/public/styles/colors.scss";
@value background-blue-light from "/public/styles/colors.scss";
@value background-blue-focus from "/public/styles/colors.scss";
@value color-text-faded from "/public/styles/colors.scss";
@value color-text-primary from "/public/styles/colors.scss";
@value color-text-disabled from "/public/styles/colors.scss";
@value sm from "/public/styles/breakpoints.scss";
@value border-radius-small from "/public/styles/borderRadius.module.scss";
@value border-radius-medium from "/public/styles/borderRadius.module.scss";

.container {
	display: flex;
	flex: auto;
	min-height: 0;
}

.chatArea {
	display: flex;
	background: background-chat;
	overflow: auto;
	flex-direction: column;
	margin: 0 8px;
	padding: 0 8px;
	flex: 1 1 0;

	/* Padding not working in Firefox in combination with overflow-y
	https://stackoverflow.com/questions/48687129/padding-bottom-not-working-in-firefox-ie11 */
	&:after {
		display: block;
		content: "";
		padding-bottom: 8px;
	}

	&:-webkit-scrollbar {
		display: none;
	}
}

.chatBubbleContainer {
	display: flex;
	flex-direction: column;
	word-break: break-word;
	margin-top: 12px;
	padding: 8px;
	border-radius: border-radius-small;
	min-width: 20%;
	max-width: 80%;
	flex-shrink: 0;

	.messageContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
}

.chatBubbleOther {
	background-color: background-blue-light;
	align-self: flex-start;
}

.chatBubbleUser {
	background-color: background-blue-focus;
	align-self: flex-end;
}

.grouped {
	margin-top: 2px;
}

.message {
	composes: roboto from "public/styles/types.module.scss";
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.2;
	color: color-text-primary;
}

.timeStamp {
	composes: roboto from "public/styles/types.module.scss";
	font-size: 0.7rem;
	font-weight: 300;
	line-height: 1;
	color: color-text-faded;
	text-align: right;
	padding-left: 40px;
	flex-shrink: 0;
}

.userName {
	composes: roboto from "public/styles/types.module.scss";
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 0.9rem;
	color: color-text-primary;
}

@media screen and (min-width: sm) {
	.chatArea {
		border-radius: border-radius-medium;
		margin-top: 8px;
	}
}