@value color-text-primary, color-text-alert from "/public/styles/colors.scss";
@value sm, md from "/public/styles/breakpoints.scss";

.container {
	display: flex;
	flex-direction: row;
	height: 100%;
	position: relative;

	.leftColumn {
		display: none;
		flex: 3 0 0;
		flex-direction: column;
		padding-top: 20px;
	}

	.centerColumn {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: auto;
	}

	.rightColumn {
		display: none;
		flex-direction: column;
		padding-top: 20px;
	}
}

.superscript {
	font-weight: 500;
  font-size: 0.7rem;
	color: color-text-primary;
	position: absolute;
	top: 0px;
	right: -8px;
}

.important {
	color: color-text-alert;
}

.hidden {
	display: none;
}

.header {
	composes: h3 from "/public/styles/headers.scss";
	position: relative;
	display: flex;
}

@media screen and (min-width: sm) {
	.container {
		.leftColumn {
			display: flex;
			flex: 3 0 0;
		}

		.centerColumn {
			flex: 5 0 0;
		}
	}
}

@media screen and (min-width: md) {
	.container {
		.rightColumn {
			display: flex;
			flex: 3 0 0;
		}
	}
}
