@value background-color-header from "/public/styles/colors.scss";
@value xs from "/public/styles/breakpoints.scss";

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 44px;
	overflow: hidden;
	flex-shrink: 0;

	background-color: background-color-header;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	width: 100%;
	
	> * {
		margin: 0 8px;
	}
}

.menu {
	display: block;
}

.rightProps {
	display: none;
	justify-content: flex-end;
	flex: 1 1 0;
	
	> * {
		display: none;
		margin: 0 8px;
	}
}

@media screen and (min-width: xs) {
	.menu {
		display: none;
	}

  .rightProps {
		margin-left: auto;
		margin-right: 0;
		display: flex;
		flex-direction: row;
		align-items: center;

		> * {
			display: block;
			margin: 0 8px;
		}
  }
}