@value background-default from "/public/styles/colors.scss";
@value background-transparent from "/public/styles/colors.scss";
@value color-text-primary from "/public/styles/colors.scss";

.tippy {
  background: background-transparent;
  border: 1px solid background-default;
  color: color-text-primary;
  font-weight: 400;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0px 3px 6px rgba(35, 35, 35, 0.35);
}
