@value color-text-primary from "/public/styles/colors.scss";

.content {
  padding: 0 16px;

  .details {
    color: color-text-primary;
    font-size: 0.7rem;
    font-weight: 200;
    
    margin-left: 12px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
  
    > * {
      display: list-item;
      list-style-type: circle;
      list-style-position: inside;
    }
  }
}

.button {
  width: 105px;
}
