@value background-default from "/public/styles/colors.scss";
@value background-grey-light from "/public/styles/colors.scss";
@value color-text-primary from "/public/styles/colors.scss";
@value border-radius-small from "/public/styles/borderRadius.module.scss";

$transition-normal: all ease-out 0.2s;

.frame {
  display: flex;
  align-items: center;
  padding: 4px 4px;
  border-radius: border-radius-small;
  position: relative;
  cursor: pointer;

  transition: $transition-normal;
}

.content {
  font-weight: 300;
  padding: 4px 10px;
  font-size: 0.9rem;
  composes: roboto from "/public/styles/types.module.scss";
}

.neutral {
  background: background-default;
  color: color-text-primary;

  &:hover {
    background: background-grey-light;
  }
}

.mood {
  position: absolute;
  top: 2px;
  left: 30px;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
}

.isSelected {
  background: background-grey-light;
}
