@value background-button-primary from "/public/styles/colors.scss";
@value background-button-neutral from "/public/styles/colors.scss";
@value background-transparent from "/public/styles/colors.scss";
@value background-grey-focus from "/public/styles/colors.scss";
@value background-grey-light from "/public/styles/colors.scss";
@value background-button-alert from "/public/styles/colors.scss";
@value background-button-disabled from "/public/styles/colors.scss";
@value color-text-disabled from "/public/styles/colors.scss";
@value color-text-primary from "/public/styles/colors.scss";
@value border-color-light from "/public/styles/colors.scss";
@value border-color-default from "/public/styles/colors.scss";
@value border-radius-small from "/public/styles/borderRadius.module.scss";

$transition-normal: all ease-out 0.2s;

.base {
	transition: $transition-normal;
	outline: none;
	box-sizing: border-box;
	text-transform: capitalize;
	border-radius: border-radius-small;

	&:not(:disabled) {
		cursor: pointer;
	}

	&:disabled {
		color: color-text-disabled;
	}
}

.font {
	composes: poppins from "/public/styles/types.module.scss";
	font-weight: 400;
	color: color-text-primary;
}

.small {
	composes: base;
	composes: font;
	padding: 8.5px 16px;
	font-size: 0.6rem;
}

.medium {
	composes: base;
	composes: font;
	padding: 12px 40px;
	font-size: 0.6rem;
}

.neutral {
	background: background-button-neutral;
	color: color-text-primary;
	border: 1px solid border-color-light;

	&:disabled {
		background: background-button-disabled;
	}

	&:hover {
		background: background-grey-light
	}
	
	&:active {
		background: background-button-neutral;
	}
}

.transparent {
	border: 1px solid border-color-default;
	background: background-transparent;

	&:hover:not(.primary) {
		background: background-grey-focus;
	}
	
	&:active:not(.primary) {
		background: background-transparent;
	}
}

.primary {
	color: white;
	background: background-button-primary;
	border: 1px solid background-button-primary;

	&:disabled {
		background: background-button-disabled;
		border-color: background-button-disabled;
	}

	&:hover {
		filter: brightness(1.1);
	}

	&:active {
		filter: brightness(1.0);
	}
}

.secondary {
	color: color-text-primary;
	background: rgb(175, 175, 175);
	border: 1px solid border-color-default;

	&:hover {
		filter: brightness(1.1);
	}

	&:active {
		filter: brightness(1.0);
	}
}

.alert {
	color: white;
	background: background-button-alert;
	border: 1px solid background-button-alert;

	&:hover {
		filter: brightness(1.1);
	}

	&:active {
		filter: brightness(1.0);
	}
}

.simple {
	background: background-transparent;
}