@value background-default from "/public/styles/colors.scss";
@value background-blue-light from "/public/styles/colors.scss";
@value background-grey-light from "/public/styles/colors.scss";
@value background-blue-focus from "/public/styles/colors.scss";
@value font-roboto from "/public/styles/types.module.scss";
@value color-text-primary from "/public/styles/colors.scss";
@value border-color-light from "/public/styles/colors.scss";

.mentions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: auto;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mentions--multiLine .mentions__control {
  font-weight: 200;
  color: color-text-primary;
  font-family: font-roboto;
  font-size: 0.9rem;
  padding: 6px 8px;
  max-height: 350px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.mentions--multiLine .mentions__input {
  font-weight: 200;
  color: color-text-primary;
  font-family: font-roboto;
  border: 1px solid border-color-light;
  border-radius: 4px;
  outline: none;
  padding: 6px 8px;
  box-sizing: border-box;
  height: 100%;
  transition: border 0.3s ease-in-out;
  overflow: scroll;
}

.mentions__input:focus {
  border: 1px solid background-blue-focus;
}

.mentions__input:active {
  border: 1px solid background-blue-focus;
}

.mentions__suggestions__list {
  background-color: background-default;
  border: 1px solid border-color-light;
	font-weight: 200;
	color: color-text-primary;
  font-size: 0.8rem;
  max-height: 117px;
  border-radius: 4px;

  overflow: auto;
  position: absolute;
  bottom: 16px;
  box-sizing: border-box;
}

.mentions__suggestions__item {
  padding: 5px 15px;
}

.mentions__suggestions__item:not(:last-child) {
  border-bottom: 1px solid background-grey-light;
}

.mentions__suggestions__item--focused {
  background-color: background-blue-light;
}

.mentions__mention {
  position: relative;
  z-index: 1;
  // color: steelblue;
  pointer-events: none;
}
