.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(40vw + 16px);

	.form {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 8px 0;

		.inputField {
			flex: 3;
		}
		.sendButton {
			margin-left: 8px;
		}
	}
}
