.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.chatArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 40vw;
	height: 80vh;
	overflow-y: scroll;
	transition: ease-out 0.3s all;

	&::-webkit-scrollbar {
		display: none;
	}

	.chatBubbleContainer {
		display: flex;
		flex-direction: column;
		word-wrap: break-word;
		margin: 4px 0;
		padding: 8px;
		border-radius: 4px;
		min-width: 30%;
		max-width: 80%;

		.userName {
			font-weight: 600;
			margin-bottom: 4px;
		}

		.messageContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;

			.message {
				font-size: 1rem;
				font-weight: 300;
				line-height: 1.2;
			}

			.timeStamp {
				font-size: 1rem;
				line-height: 1;
				color: hsla(0, 0, 0, 0.4);
				text-align: right;
				padding-left: 40px;
			}
		}
	}

	.chatBubbleOther {
		background-color: hsl(205, 80%, 90%);
		align-self: flex-start;
		transition: ease-out 0.3s all;

		.userName {
			color: hsl(45, 100%, 40%);
		}
	}

	.chatBubbleUser {
		background-color: hsl(205, 90%, 80%);
		align-self: flex-end;
		transition: ease-out 0.3s all;
	}
}
