$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1800px;

.container {
	display: flex;
	flex: auto;
	min-height: 0;
}
.chatArea {
	display: flex;
	background: whitesmoke;
	overflow: auto;
	flex-direction: column;
	margin: 0 8px;
	padding: 8px;

	&::-webkit-scrollbar {
		display: none;
	}

	.chatBubbleContainer {
		display: flex;
		flex-direction: column;
		word-break: break-word;
		margin-top: 12px;
		padding: 8px;
		border-radius: 4px;
		min-width: 20%;
		max-width: 80%;

		.userName {
			font-family: Roboto, sans-serif;
			font-weight: 400;
			font-size: 0.9rem;
			margin-bottom: 4px;
		}

		.messageContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;

			.message {
				font-size: 0.9rem;
				font-weight: 200;
				line-height: 1.2;
			}

			.timeStamp {
				font-family: Roboto, sans-serif;
				font-size: 0.7rem;
				line-height: 1;
				color: hsla(0, 0, 0, 0.3);
				text-align: right;
				padding-left: 40px;
				flex-shrink: 0;
			}
		}
	}

	.chatBubbleOther {
		background-color: hsl(205, 80%, 90%);
		align-self: flex-start;

		.userName {
			color: hsl(0, 0%, 50%);
		}
	}

	.chatBubbleUser {
		background-color: hsl(205, 90%, 80%);
		align-self: flex-end;
	}

	.grouped {
		margin-top: 2px;
	}
}

@media screen and (min-width: $screen-md) {
	.chatArea {
		border-radius: 4px;
	}
}