$color-superscript: hsl(205, 85%, 51%);
$color-important: hsl(9, 78%, 53%);

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1800px;

.container {
	display: flex;
	flex-direction: row;
	height: 100%;

	.leftColumn {
		display: none;
		flex: 3 0 0;
		flex-direction: column;
		padding-top: 20px;
	}

	.centerColumn {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: auto;
	}

	.rightColumn {
		display: none;
		flex-direction: column;
		padding-top: 20px;
	}
}

.superscript {
	font-weight: 500;
  font-size: 0.7rem;
	color: $color-superscript;
	position: absolute;
	top: 0px;
	right: -8px;
}

.important {
	color: $color-important;
}

.hidden {
	display: none;
}

.header {
	position: relative;
	display: flex;
}

@media screen and (min-width: $screen-sm) {
	.container {
		.leftColumn {
			display: flex;
			flex: 3 0 0;
		}

		.centerColumn {
			flex: 5 0 0;
		}
	}
}

@media screen and (min-width: $screen-md) {
	.container {
		.rightColumn {
			display: flex;
			flex: 3 0 0;
		}
	}
}
