.tippy {
  background: rgba(255,255,255,0.6);
  border: 1px solid white;
  color: #383838;
  font-weight: 400;
  padding: 4px;
  backdrop-filter: blur(4px);
  box-shadow: 0px 3px 6px rgba(35,35,35,0.35);
}
