// colors
$color-neutral: rgb(255, 255, 255);
$color-hover: rgb(235, 235, 235);
$color-border: rgb(61, 61, 61);
$color-separator: rgb(126, 126, 126);
$color-text: rgb(66, 66, 66);

// transitions
$transition-normal: all ease-out 0.2s;

.frame {
  display: flex;
  align-items: center;
  padding: 4px 4px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;

  transition: $transition-normal;
}

.content {
  font-weight: 500;
  padding: 4px 8px;
}

.neutral {
  background: $color-neutral;
  color: $color-text;

  &:hover {
    background: $color-hover;
  }
}

.mood {
  position: absolute;
  top: 2px;
  left: 30px;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
}
