@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500");

// colors
$color-frame: rgb(221, 221, 221);
$color-container: rgb(255, 255, 255);
$color-separator: rgb(139, 139, 139);
$color-text: rgb(66, 66, 66);

/* RESETS */
button {
  border: none;
  font-size: 1rem;
  font-family: Poppins;
}

/* GLOBAL */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 600;
}

/* TippyJS */
.tippy-content {
  padding: 0 !important;
}

/* React-Mentions */
.comments-textarea__control {
  font-weight: 200;
	font-size: 0.8rem;
  color: rgb(66, 66, 66);
}

.comments-textarea {
  flex: 3 1 auto;
}

.comments-textarea__input {
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  padding: 9px;
  color: rgb(66, 66, 66);
  border: 1px solid #dedede;
  outline: none;
}

.comments-textarea__input:focus{
  border: 1px solid hsl(205, 90%, 80%);
}

.comments-textarea__input:active{
  border: 1px solid hsl(205, 90%, 80%);
}

.comments-textarea__suggestions__list {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(139, 139, 139);
  font-size: 0.8rem;
  max-height: 86px;
  overflow: hidden;
  border-radius: 3px;
}

.comments-textarea__suggestions__item {
  padding: 5px 15px;
}

.comments-textarea__suggestions__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.comments-textarea__suggestions__item--focused {
  background-color: hsl(205, 80%, 90%);
}

/* React Tabs */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;

  display: flex;
  width: 100%;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 12px 12px;
  cursor: pointer;

  flex: 1 1 50%;
  display: flex;
  font-weight: 200;
  font-size: 1.25rem;
  color: $color-text;
  justify-content: center;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
