@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500");

/* RESETS */
button {
  border: none;
  font-size: 1rem;
  font-family: Poppins;
}

/* GLOBAL */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 600;
}

/* TippyJS */
.tippy-content {
  padding: 0 !important;
}

/* React-Mentions */
.comments-textarea__control {
  font-weight: 200;
	font-size: 0.8rem;
  color: rgb(66, 66, 66);
}

.comments-textarea {
  flex: 3 1 auto;
}

.comments-textarea__input {
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  padding: 9px;
  color: rgb(66, 66, 66);
  border: 1px solid #dedede;
  outline: none;
}

.comments-textarea__input:focus{
  border: 1px solid hsl(205, 90%, 80%);
}

.comments-textarea__input:active{
  border: 1px solid hsl(205, 90%, 80%);
}

.comments-textarea__suggestions__list {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(139, 139, 139);
  font-size: 0.8rem;
  max-height: 86px;
  overflow: hidden;
  border-radius: 3px;
}

.comments-textarea__suggestions__item {
  padding: 5px 15px;
}

.comments-textarea__suggestions__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.comments-textarea__suggestions__item--focused {
  background-color: hsl(205, 80%, 90%);
}
