@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.sans-serif-font {
	font-family: "Poppins", sans-serif;
}

.display {
	font-size: 1rem;
	line-height: 35px;
	background-color: #fff;
}
